@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt Onayı";
}

<h1>@ViewData["Title"]</h1>

<p>
    Lütfen e-posta kutunu kontrol et ve hesabını onaylamak için gönderilen bağlantıyı kullan.
</p>
